<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purse</title>
</head>
<body>
    <% total_price = 0%>
    <div>Welcome <%=session[:user_id]%></div>
    <% budget = User.find(session[:user_id]).est_budget %>
    <%purchases = Purchase.where(["user_id = ? and is_confirmed = ?", session[:user_id], true])%>
    <% if purchases%>
      <% purchases.each do |purchase| %>
        <% total_price += purchase.price %>
      <% end%>
    <% end %>
    <% if budget %>
    
      <div class="display-budget">
        <div class="budget-header">
          <div class="text">Your purse.. <%=budget%></div>

          <div class="ui large teal progress" data-value=<%=total_price%> data-total=<%=budget%> id="example5">
            <div class="bar">
              <div class="progress"></div>
            </div>
          </div>

        </div>
      </div>
    <% else %>
      <form action="/purse" method="post">
        <div class="create-budget input ui" >
          <input type="hidden" name="_method" value="put">
          <input type="text" name="budget" placeholder="Enter annual budget">
          <button>Add</button>
        </div>
      </form>
      
    <% end %>  

    

    <!-- Add New Purchase -->
    <% if params[:id] %>
      <% purchase_new = Purchase.find(params[:id])%>
    
    <form>
    <div class="ui cards">
      <div class="card">
          <div class="content">
            <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
            <div class="header">
              <%=purchase_new.boardgame_title%>
            </div>
            <div class="meta">
              Friends of Veronika
            </div>
            <div class="description ui input">
              <input type="text" name="purchase_price" placeholder="Enter price..">
            </div>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <% action_confirm = "/purse/confirm,"+purchase_new.id.to_s %>
              <% action_remove = "/purse/remove,"+purchase_new.id.to_s %>
              <button formaction=<%=action_confirm%> formmethod="post" type="submit" class="ui basic green button" >Confirm</button>
              <button formaction=<%=action_remove%> formmethod="post" type="submit" class="ui basic red button">Remove</button>
            </div>
          </div>
        
      </div>
    </div>
    </form>
    <% end %>


    <!-- Add Existing Purchases -->
    <%#purchases = Purchase.where(["user_id = ? and is_confirmed = ?", session[:user_id], true])%>
  
    <% if purchases%>
      <div class="list-container">
        
          <% purchases.each do |purchase| %>
            <div class="ui link cards">
              <div class="card">
                <div class="image">
                  <img src="/images/avatar2/large/matthew.png">
                </div>
                <div class="content">
                  <div class="header"><%=purchase.boardgame_title%></div>
                  <div class="meta">
                    <a> </a>
                  </div>
                  <div class="description">
                    
                  </div>
                </div>
                <div class="extra content">
                  <span class="right floated">
                    
                  </span>
                  <span>
                    <i class="dollar icon"></i>
                    <%=purchase.price%> 
                  </span>
                </div>
              </div>
            </div>
            
          <% end %>
        
      </div>
    <% end%>
    
    <script>
    $('#example5')
      .progress({
        label: 'ratio',
        text: {
          ratio: '$ {value} of $ {total}'
        }
      })
    ;
    </script>
</body>
</html>